:root {
    --margin: 0px;
    --padding: 20px;
    --upper-border-round: 10px 10px 0 0;
    --lower-border-round: 0 0 10px 10px;
}

html, body, #root {
    min-height: 100vh;
    background: skyblue;
    margin: var(--margin);
    font-size: 20px;
}

#root {
    display: grid;
    align-items: center;
    justify-items: center;
    padding: var(--padding);
    border-radius: 40px;
    height: 60vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#app-container {
    background: palegoldenrod;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr 50px;
}

header {
    grid-column: 1/-1;
    grid-row: 1/2;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: cadetblue;
    border-radius: var(--upper-border-round);
}

header > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

main {
    grid-column: 2/4;
    grid-row: 2/3;
    justify-content: center;
    align-items: center;
    background: sandybrown;
}

.sidebar {
    justify-content: center;
    align-items: center;
    background: green;
    grid-column: 1/2;
    grid-row: 2/3;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    grid-column: 1/-1;
    height: 50px;
    border-radius: var(--lower-border-round);
    grid-row: -2/-1;
    color: white;
    font-size: 1em;
}

#submit-form {
    height: 10rem;
}
